﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CrowMessenger | Email confirmed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/5/cyborg/bootstrap.css">
    <link rel="stylesheet" href="https://bootswatch.com/_vendor/prismjs/themes/prism-okaidia.css">
</head>
<body>
    <div class="container flex mt-5 justify-center align-center">
        <h1 class="text-center justify-center align-center" style="color: #F50057">Your email is successfully verified!</h1>
        <hr/>
        <h4 class="text-center justify-center align-center text-white">You can close this tab!</h4>
    </div>
</body>
</html>